# Node / React / pnpm
node_modules/
.pnpm-store/
.pnpm-store/v10/
dist/
build/
.vite/

# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
*.env
venv/
.env
*.pyc

# Docker
*.log
*.pid
docker-compose.override.yml

# VS Code
.vscode/

# Misc
.DS_Store
